.fonContainer {
    background-color: white;
}
.mainPage_container {
    padding-top: 80px;
    padding-bottom: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
}
.mainPage_row {
    flex: 1 1 auto;
}

@media (max-width: 1000px) {
/*@media screen and (max-width: 1000px) { */
	.mainPage_container {
        padding-top: 75px;
        padding-bottom: 50px;
        min-height: auto;
	    padding-left: 15px;
	    padding-right: 15px;
	}
}